a{
  color: #333333;
  font-size: 18px;
  padding: 0px 20px;
  margin: 0px;
  opacity: 0.6;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
  text-decoration: none;
}

body{
  margin: 0px;
  padding: 0px;
}

h4{
  font-family: Arial, Helvetica, sans-serif;
  color: #FFEAB7;
  margin: 200px 0px 0px 100px !important;
  font-size: 1.2rem;
  font-weight: bold;
}

h1, h3{
  color: #DBB14E;
  margin: 0px 0px 0px 100px !important;
  font-weight:800;
}

h1{
  font-size: 5rem;
}

h3{
  font-size: 2.2rem;
}

.banner{
  background-image: url("./Images/Banner.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  height: 100vh;
}

.cto{
  width: 200px;
  background-color: white;
  border-radius: 30px;
  margin: 50px 0px 0px 100px;
  font-weight:600;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  color: #333333;
  border: none;
}

.cto:hover{
  background-color: #707070;
}

@media only screen and (max-width: 562px){
    a{
      font-size: 12px;
    }

    h1{
      font-size: 4rem;
    }

    h3{
      font-size: 2.2rem;
    }

    h1, h3{
    margin: 0px 0px 0px 50px !important;
  }

    h4{
      margin: 200px 0px 0px 50px !important;
    }

    .cto{
      margin: 50px 0px 0px 50px;
    }
}




